h3.center.orange-text Datos Basicos
.row
  .col.s12.m4
    
    .icon-block
      h2.center.light-blue-text
        i.material-icons email
      h5.center Email
      p.light.center  hv.edgarduarte@gmail.com
  .col.s12.m4
    .icon-block
      h2.center.light-blue-text
        i.material-icons perm_identity
      h5.center   Edad
      p.light.center 31 años
  .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons store
          h5.center   Dirección
          p.light.center   Dg 16b 104-17, Bogotá, Cundinamarca
  .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons today
          h5.center   Fecha de nacimiento
          p.light.center   18 de diciembre 1984
  .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons stay_primary_portrait
          h5.center   Celular
          p.light.center   3115364696 
  .col.s12.m4
        .icon-block
          h2.center.light-blue-text
            i.material-icons contact_phone
          h5.center   Telefono
          p.light.center   4703770               
  br              
  br
