extends layout.jade
block titulo
    title certificación 
block seccion_banner
      .slider
          ul.slides
              li 
                   img(src="img/certificacion/cer_CSS.png", alt="")
                   .caption.center-align
                       h3 
                       h5.light.grey-text.text-lighten-3 
              li 
                   img(src="img/certificacion/cer_HTML.png", alt="")
                   .caption.center-align
                      h3 
                      h5.light.grey-text.text-lighten-3 
              li 
                   img(src="img/certificacion/cer_DESWEB.png", alt="")
                   .caption.center-align
                     h3 
                     h5.light.grey-text.text-lighten-3 
                          
