
.container
  .row
    .col.13.s12
            
        ul
          li: a(href='https://www.facebook.com/Programer-262606387264668/',target="_blank") 
                  img(src="img/social/icon-facebook.png", alt="Facebook")
          li: a(href='https://twitter.com/edgar_developer',target="_blank")  
                  img(src="img/social/icon-twitter.jpeg", alt="Twitter")
          li: a(href='https://co.linkedin.com/in/edgar-duarte-55b01636',target="_blank")  
                  img(src="img/social/linkedin.png", alt="LinkedIn")
          li: a(href='https://www.youtube.com/',target="_blank")
                  img(src="img/social/icon-youtube.png", alt="Youtube ")           
.footer-copyright
    .container    
                img.center(src="img/edeveloper.png", alt="edeveloper")
