extends layout.jade
block titulo
      title Hv Edgar Duarte
block seccion_banner
        include perfil.jade
        
          
block dato_basico
      include basico.jade
      
                  
block Estudios
      include estudio.jade
                    
block laboral
      include laboral.jade
        
block referencias
      include referencia.jade
      
                      
                             
                                                
                                                                                                            
