p#acerca  
h1.header.center.orange-text Edgar Humberto Piñeros Duarte
.row.center
      h3.header.col.s12.light.orange-text  Perfil Profesional 
.row.center
      p.waves-effect
          | Programador web con un año de experiencia laboral  desarrollando páginas web con HTML4 y 5, JQUERY, PHP
          | Conocimientos en HTML versión 4 y 5 , CSS , JAVASCRIPT , JQUERY , JAVA , JSP , 
          | en motores de base de datos como MYSQL , SQLSERVER  y en RESPONSIVE WEB DESIGN para adaptar una pagina web a móviles y pc´s.
          | Interes en aprender nuevas tecnologías de desarrollo.
